{% extends 'Calcs/base.html' %}
{% load static %}
{% block title %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/log_viewer.js' %}"></script>
Просмотр логов
{% endblock %}


{% block content %}
<ul class="nav nav-tabs" id="log-list" role="tablist">

</ul>
<script>GetCurrentGames(cur_games_url);</script>
<div class="tab-content" id="log-content">

</div>
{% endblock %}