{% extends 'Calcs/base_calc.html' %}
{% load static %}
{% block title %}
	Калькулятор статистики
	<meta charset="utf-8">
	<meta http-equiv="expires" content="0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/log_calc.css' %}">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
	<script type="text/javascript" src="{% static 'js/log calculator/apiParser.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/stats calculator/MafStat.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/stats calculator/GraphsDraw.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/stats calculator/DataProcess.js' %}"></script>
{% endblock %}


{% block content %}
<div class="form-group row justify-content-center">
    <label for="nickNameInput">Ник :
    <input class="form-control" id="nickNameInput" type="text" name="playerNickname" size="19" value="Evil bob"/>
	</label>
</div>
<div class="form-group row justify-content-center">
    <label for="dateInput" title="(в формате год-месяц, например 2020-01)">Дата* :
		<input class="form-control" id="dateInput" type="month" name="date" placeholder="mm-yyyy" pattern="\d{1,2}\d{4}" value="2019-07" min="2011-09"/>
	</label>
</div>
<div class="form-group row justify-content-center">
    <button class="btn btn-outline-warning" type="button" onclick="get_logs_from_list()">Посчитать</button>
</div>
<div class="form-group row justify-content-center">
	<span id="Stage">Жду команды</span><br>
</div>
<div class="row justify-content-center">
	<div class="сol">
		<div class="row justify-content-center">
			<label>Выберите тип отображения данных</label>
		</div>
		<div class="form-group row justify-content-center">
			<select class="form-control auto-width" name="Display" onchange="change_type(this.value)" multiple>
				<option selected value="bar">Столбики</option>
				<option value="line">Линия</option>
			</select>
		</div>
	</div>
	<div class="сol">
		<div class="row justify-content-center">
			<label>Выберите отображаемые данные</label>
		</div>
		<div class="form-group row justify-content-center">
			<select class="form-control auto-width" name="Categories" onchange="drawBasicGraph(this.value)" multiple>
				<option selected value="1">Победы</option>
				<option value="2">Роли</option>
				<option value="3">Выживаемость</option>
				<option value="4">Улицы</option>
				<option value="5">Процент побед по ролям</option>
				<option value="6">Процент побед по улицам и ролям</option>
				<option value="7">Победы по дням</option>
				<option value="8">К-во игроков в партиях по дням</option>
			</select>
		</div>
	</div>
</div>
	<br>
<div class="row justify-content-center chart-container" >
	<canvas id="myChart" style="max-width:90%;"></canvas>
</div>
<script>
window.onload = function()
{
var now = new Date();
var mm = now.getMonth()+1;
var yyyy = now.getFullYear();
document.getElementById('dateInput').value = yyyy + '-' + mm;
};
</script>
{% endblock %}