{% load static %}
{% load tags %}
<html lang="en">
<title>Сайт клана "The Golden Capital"</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" type="image/png" href="https://st.mafiaonline.ru/images/clans/128/25440-4.png"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/goldencapital.css' %}?{% now 'U' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/news_css.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/fire.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://mafiaweb.ru/api/widgets.min.js?0711" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- Concurs tooltip -->
<script type="text/javascript" src="{% static 'js/show_tooltip.js' %}"></script>

<!-- Snowflakes
<link rel="stylesheet" type="text/css" href="{% static 'css/snowflakes.css' %}">
-->
{% block scripts %}{% endblock %}

<body>
<!-- Navbar -->
{% show_navbar %}

<!-- Header -->
<header class="card bg-dark mx-auto mb-3" style="width: 95%;" >
    <div class="row">
        <div class="col align-self-center">
            <img class="img-fluid" src="/media/ogon_1.png" >
        </div>
        <div class="col-4">
            <div style="display: inline-block;align-content: center">
                <h2 >The Golden Capital</h2>
                <p>project clan</p>
                <p>Mafia Online</p>
                <p class="fire">Мэр Столицы: <a href="https://www.mafiaonline.ru/info/Другая" target="_blank">ДругаЯ</a></p>
                <p >Telegram: <a href="https://t.me/Druga_YA" target="_blank">@Druga_YA</a></p>
            </div>
        </div>
        <div class="col align-self-center">
            <img class="img-fluid" style="min-width: 30px;"src="/media/ogon_1.png" >
        </div>
        <div class="col-sm-4 align-self-center">
            <img class="img-fluid fucking_hand" src="/media/ogon-2.jpeg">
        </div>
    </div>
</header>
<div class="row">
    <div class="col-sm-3">
        <!-- Рейтинг игроков
        <div class="card bg-dark mx-auto border-warning" style="width: 80%;">
            <div class="card-header border-warning">
                <h1 class="capital_letter">Рейтинг лучших игроков клана</h1>
            </div>
            {# % show_mafstats % #}   < Рейтинг игроков, чтобы вернуть - нужно просто убрать # >
        </div>

            <div>
                <p>powered by <a href="https://mafiastat.ru/" target="_blank">MafiaStat</a></p>
            </div>
        <br>
        -->
        <div class="card bg-dark border-warning mx-auto mb-3" style="width: 80%;">
            <header >
                <h1 class="capital_letter" >Актуальные события</h1>
            </header>
        </div>
        <div id="news_parent">
            {% show_actual_news %}
        </div>
        <div class="card bg-dark border-warning mx-auto" style="width: 80%;">
            <div class="card-header border-warning">
                <h1 class="capital_letter">Полезные ссылки</h1>
            </div>
            <div class="list-group list-group-flush bg-dark">
                <a class="list-group-item list-group-item-dark list-group-item-action" href="https://blog.mafiaonline.ru/" target="_blank">Блог Mafia Online</a>
                <a class="list-group-item list-group-item-dark list-group-item-action" href="https://www.mafiaonline.ru/forum/viewcat.php?id=100" target="_blank">Турниры и конкурсы</a>
                <a class="list-group-item list-group-item-dark list-group-item-action" href="https://www.mafiaonline.ru/games/giftshop.php" target="_blank">Магазин подарков</a>
                <a class="list-group-item list-group-item-dark list-group-item-action" href="https://avt.mafiaonline.ru/laws/pchi/" target="_blank">Правила честной игры(ПЧИ)</a>
                <a class="list-group-item list-group-item-dark list-group-item-action" href="https://avt.mafiaonline.ru/laws/rules/" target="_blank">Правила Общения</a>
                <a class="list-group-item list-group-item-dark list-group-item-action " href="https://www.mafiaonline.ru/forum/viewforum.php?id=29" target="_blank">Дом Культуры</a>
            </div>
        </div>



    </div>

    <div class="col-sm-6">
        <div class="card bg-dark border-warning mx-auto mb-3" style="width: 80%;">
        <header><h1 class="capital_letter">{% block title %}{% endblock %}</h1></header>
        </div>

    <main role="main">
        <div class="card bg-dark mx-auto mb-3" style="width: 90%;">
        {% block content %}{% endblock %}
        </div>
        {% block pagination %}{% endblock %}
    </main>
    </div>
    <div class="col-sm-3">
        <div class="card bg-dark mx-auto mb-3" style="width: 80%;">
            <a href="https://www.mafiaonline.ru/?ref=328903">
                <img src="https://st.mafiaonline.ru/images/mafia_banners/banner_najdi_menja_na_mafijaonline.gif" class="img-thumbnail" alt="Мафия онлайн" title="Мафия онлайн">
            </a>
        </div>
            {% show_forum_last %}
        <br>
        <div class="card bg-dark border-warning mx-auto mb-3" style="width: 80%;">
            <h1 class="capital_letter">Мы на карте</h1>
            <div>
            <script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=56andngex83&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33" async="async"></script>
            </div>
        </div >



    </div>
</div>

<!-- Snowflakes
<canvas id="snowflakes"> </canvas>
<script type="text/javascript" src="{% static 'js/snowflake.js' %}"></script>
 -->

<!-- Footer -->
<footer>
  <div >
    <a href="https://vk.com/club166106645" class="footer-ico fa fa-vk" title="https://vk.com/club166106645" target="_blank"></a>
    <a href="https://www.instagram.com/tgoldcap/" class="footer-ico fa fa-instagram" target="_blank"></a>
    <a href="https://t.me/thegoldencapital" class="footer-ico fa fa-telegram" target="_blank" ></a>
 </div>
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a> and <a href="https://www.mafiaonline.ru/info/Evil%20bob" target="_blank">Evil bob</a></p>
</footer>

</body>
</html>
