{% extends 'landing/base.html' %}
{% block title %}
    История
{% endblock %}

{% block content %}
<div class="content_field">
В чем смысл жизни? Как найти путь, который мне предначертан? Где мое место?" - терзая себя вопросами она шла&nbsp;и пыталась найти ответы. Солнце уже давно село, чувствовалось, что силы её&nbsp;оставляют. Лишь вера и надежда заставляли&nbsp;не останавливаться.<br>
Вдруг вдалеке загорелся свет.<br>
"Неужели в этом покинутом людьми месте что-то есть?" - подумала она и направилась прямиком к источнику лучей.<br>
То, что предстало перед глазами странницы сложно описать. Город был залит светом подобно золоту, которого было и так предостаточно под ее ногами. Здесь были красавицы с алыми губами, короли и королевы грациозно идущие по своим делам, гордые львы и даже защитники в военной форме. Странница заметила, что с таким же удивлением на окружающее, смотрят несколько людей.<br>

"Наверное, они тоже только пришли в это волшебное место, возможно, мне стоит познакомиться с ними" - подумала она.<br>

Предположение оказалось верным. Больше десятка путников искали место, где они могли бы осесть и передать кому-то свои знания и опыт.<br>

"Пока я стояла, восхищаясь красотами, от проходящих мимо людей я услышала, что где-то на юге есть небольшой клочок земли, который простаивает ничейный. Его назвали, кажется, "The Golden Capital". Почему бы нам не объединиться и не поселиться в тех землях, передавая свой опыт и учась у соседей?" - предложила странница.<br>

Путники загорелись этой идей, утвердительно кивая и пожимая руку юному Мэру. Никто не сомневался, что этот пост должен быть её. В глазах каждого горел огонь, родившийся от Дарьи, странницы, чье имя значит "Огонь Великий". Именно этот великий огонь на общем собрании и было решено сделать своим символом на гербе!
</div>

{% endblock %}