{% extends 'landing/base.html' %}
{% block title %}
    Устав
{% endblock %}

{% block content %}
<div class="content_field">
    <p style="text-align: center" class="capital_letter">Название: The Golden Capital</p>
    <p style="text-align: center" class="capital_letter">Символ: Огонь</p>
    <p style="text-align: center" class="capital_letter"> Девиз: Мы живем, пока в сердце горит огонь.</p>

Цель Клана: вырастить поколение игроков, ознакомленных с ПЧИ, правилами общения и Fair Play, владеющих навыками проведения конкурсов и турниров, имеющих представления о проводимых на проекте мероприятиях, а также тонкостями игры на различных улицах. Для выполнения данной цели за каждым новобранцем будет закреплен представитель TGC (далее куратор), который обязуется выполнить указанные выше цели в полной мере или частично на усмотрение . После просвещения за новобранцем закрепляется специализация, он переходит в головной состав клана и получает право на курирование. Кроме того раз в год мы обязуемся делиться заработанным за год золотом, посредством проведения конкурсов и/или турниров.

<p style="text-align: center" class="capital_letter"> Глава I</p>

1. Основатель и Мэр столицы (Глава Клана) - ​ДругаЯ

    Мэр может быть снят с поста исключительно по собственному желанию или Главой отдела по работе с Кланами, если деятельность первого будет противоречить уставу. В таком случае пост занимает действующий ЗамМэра.

    В случае невозможности исполнения Мэром своих обязанностей (фактическая невозможность нахождения на проекте, исключение из состава из-за нарушений и т.п.) статус переходит к ЗамМэру.

    Мэр действует на основании данного устава и несет ответственность перед гейм-мастерами и отделом по работе с кланами.

​

<p style="text-align: center" class="capital_letter"> Глава II</p>

​

1. Для прописки в "The Golden Capital" необходимо связаться с мэром посредством связи и пройти собеседование. В случае положительного решения со стороны мэра, заявка на вступление одобряется.
<br>
2. Для прописки в столице кандидат должен удовлетворять следующим критериям:

    отсутствие каких-либо долгов перед ТМ и ОК;

    отсутствие арестов от СИЭ за последние 60 дней;

    отсутствие мультов и/или клонов за последние 60 дней;

    уровень персонажа - от 2 и более;

    общая адекватность.
<br>
3. После прописки нового жителя мэр определяет его в новобранцы с назначением куратора для дальнейшего ознакомления или напрямую в головной состав с присвоением специализации.
<br>
4. Выписка (исключение) из столицы возможна на добровольной основе, а также по решению Мэра или Отдела кланов при несоответствии требований.
<br>
5. Жители столицы обязаны подчиняться решениям Мэра.

​

<p style="text-align: center" class="capital_letter"> Глава III</p>

​

1. Изменения и поправки в устав могут быть внесены исключительно Мэром с согласования с Главой по работе с кланами - Zass
</div>
{% endblock %}