{% load crispy_forms_tags %}
<html>
<head></head>
<body>
    <div class="content-section">
    <div class="row justify-content-center">
        <div class = "col-3"></div>
        <div class = "col-6" align="center">
            <div class="border-top pt-3">
                <h2>Вы вышли</h2>
            </div>
            <div class="border-top pt-3">
                <small>Может хотите назад?<a class="ml-2" href="{% url 'login' %}">Войти</a></small>
            </div>
        </div>
        <div class = "col-3"></div>

    </div>
    </div>
</body>
</html>